.MenuHorizontal {
    position: absolute;
    background-color: #020203;
    width: calc(100% - 60px);
    padding: 20px 30px 15px 30px;
    z-index: 2;
    min-width: 1024px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MenuHorizontal-Layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    min-width: 1024px;
}

.MenuHorizontal-Items {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.MenuVertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #020203;
    width: calc(117px - 52px);
    padding: 0px 26px 60px 26px;
    height: calc(100% - 60px);
    min-height: 780px;
    color: #ffffff;
}

.MenuVertical-Layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.MenuVertical p {
    transform: rotate(-90deg);
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    left: -10px;
    top: 85%;
    width: 150px;
}

a:visited {
    color: #ffffff;
}

.Logo-image {
    width: 178px;
    z-index: 2;
}
