.Graphiques{
    display: flex;
    width: calc(100% - 107px);
    justify-content: space-between;
    margin-left: 107px;
}

.GraphiquesActivite{
    background-color: #282D30;
    border-radius: 5px;
}

.GraphiquesInformation{
    display: flex;
    gap: 30px;
}

.GraphiquesDuree{
    width: 258px;
}

.GraphiquesActivite{
    width: 258px;
}

.Alimentation{
    display: flex;
    flex-direction: column;
    width: 258px;
    gap: 39px;
}