.GraphUserActivity_Informations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 730px;
    margin-top: 24px;
}



.GraphUserActivity_Informations_legend{
    display: flex;
    align-items: center;
    gap: 10px;
}


.GraphUserActivity_Informations_legend_info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.GraphUserActivity_Informations_legend_couleur{
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.noir{
    background-color: black;
}

.rouge{
    background-color: red;
}

.GraphUserActivity_Informations_legend_info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798C;
}

.GraphUserActivity_Informations_titre h2{
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
}

.custom-tooltip{
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #FFFFFF;
    background-color: #E60000;
    padding: 7px;
    border-radius: 0px;
    font-weight: 500;
    font-size: 7px;
    line-height: 24px;
    text-align: center;
}