.Graphiques{
    display: flex;
    width: calc(100% - 107px);
    justify-content: space-between;
    margin-left: 107px;
}


.Alimentation{
    display: flex;
    flex-direction: column;
    width: 258px;
    gap: 39px;
}