.GraphiquesDuree {
    background-color: red;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.custom-tooltip-duree {
    background-color: white;
    padding: 1px 7px 1px 7px;
}

.custom-tooltip-duree-min {
    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
}

.GraphiquesDuree-titre {
    position: absolute;
    top: 29px;
    left: 34px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
}

#GraphiquesDuree-background {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

.GraphiquesDuree-jours {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 28px);
    padding: 10px 14px 10px 14px;
}

.GraphiquesDuree-jours p {
    color: #ffffff67;
}
