.Container {
    min-height: 780px;
    width: calc(100% - 267px);
    height: 100%;
    padding: 78px 50px 0px 116px;
    min-width: calc(1024px - 267px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
