.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.Home a{
    color: black;
}

.ChoiceProfil-Menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}